In [1]:
import pandas as pd

In [2]:
#reading in the tv show files and adding them to one data frame together
amazon_tv = pd.read_csv("./AmazonTvShows.csv")
hulu_tv = pd.read_csv('./Hulu_tv_shows.csv')
netflix_tv = pd.read_csv('netflix_tv.csv')
disneyplus_tv = pd.read_csv('disneyplus_tv.csv')
amazon_tv

,type,title,release_year,rating,listed_in,streaming_platform,duration_seasons
0,TV Show,Wipeout Canada,2011,ALL,"Comedy, Documentary, Unscripted",Amazon Prime,1
1,TV Show,Zoo Babies,2008,ALL,"Kids, Special Interest",Amazon Prime,1
2,TV Show,Zoë Coombs Marr: Bossy Bottom,2020,18+,"Comedy, Talk Show and Variety",Amazon Prime,1
3,TV Show,Zoboomafoo,2001,TV-Y,Kids,Amazon Prime,1
4,TV Show,Zo Zo Zombie: Mini-Series,2020,TV-Y7,"Action, Anime, Comedy",Amazon Prime,1
...,...,...,...,...,...,...,...
1670,TV Show,Lunkerville,2021,13+,"Documentary, Special Interest, Sports",Amazon Prime,2
1671,TV Show,Let's Go Cozy Coupe! - Cartoons for Kids,2021,ALL,Kids,Amazon Prime,1
1672,TV Show,Glass Room,2019,16+,Drama,Amazon Prime,1
1673,TV Show,Terrahawks,1983,ALL,TV Shows,Amazon Prime,3
1674,TV Show,Maradona: Blessed Dream,2021,TV-MA,"Drama, Sports",Amazon Prime,1

In [3]:
#removing unnamed column which seems to be reference to old index values for each value
amazon_tv = amazon_tv.drop(columns="Unnamed: 0")
hulu_tv = hulu_tv.drop(columns="Unnamed: 0")
netflix_tv = netflix_tv.drop(columns="Unnamed: 0")
disneyplus_tv = disneyplus_tv.drop(columns="Unnamed: 0")

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
#renaming a few columns to be the same and dropping the old columns to easily merge dataframes
hulu_tv['duration_seasons'] = hulu_tv['duration']
netflix_tv['duration_seasons'] = netflix_tv['duration_season']
disneyplus_tv['duration_seasons'] = disneyplus_tv['duration_season']

hulu_tv = hulu_tv.drop(columns="duration")
netflix_tv = netflix_tv.drop(columns="duration_season")
disneyplus_tv = disneyplus_tv.drop(columns="duration_season")

In [ ]:
#joining all the tv dataframes together under one dataframe
tv_df = pd.concat([amazon_tv, hulu_tv,netflix_tv,disneyplus_tv], axis=0)

tv_df

In [ ]:
#functions to create columns for genres
def action(listed):
    if 'Action' in listed:
        return 1
    else:
        return 0

def comedy(listed):
    if 'Comed' in listed:
        return 1
    else:
        return 0
    
def drama(listed):
    if 'Drama' in listed:
        return 1
    else:
        return 0
    
def family_kids(listed):
    if 'Kids' in listed:
        return 1
    elif 'Family' in listed:
        return 1
    else:
        return 0
def romance(listed):
    if 'Roman' in listed:
        return 1
    else:
        return 0  
def music(listed):
    if 'Music' in listed:
        return 1
    else:
        return 0 
def thriller(listed):
    if 'Thriller' in listed:
        return 1
    else:
        return 0 
def faith_spiritually(listed):
    if 'Faith' in listed:
        return 1
    else:
        return 0 
def documentary(listed):
    if 'Document' in listed:
        return 1
    else:
        return 0
def sci_fi_fantasy(listed):
    if 'Sci' in listed:
        return 1
    elif 'Fantasy' in listed:
        return 1
    else:
        return 0
    
def lgbtq(listed):
    if 'LGBTQ' in listed:
        return 1
    else:
        return 0
def black_stories(listed):
    if 'Black' in listed:
        return 1 
    else:
        return 0
def cooking_food(listed):
    if ("Cooking"  or "Food") in listed:
        return 1
    else:
        return 0
def reality(listed):
    if 'Reality' in listed:
        return 1
    else:
        return 0 
def sports(listed):
    if 'Sports' in listed:
        return 1
    else:
        return 0  
def anime(listed):
    if 'Anime' in listed:
        return 1
    else:
        return 0

In [ ]:
#applying categories to the tv dataframe for use in powerbi
tv_df['action'] = tv_df['listed_in'].apply(action)
tv_df['comedy'] = tv_df['listed_in'].apply(comedy)
tv_df['drama'] = tv_df['listed_in'].apply(drama)
tv_df['family_kids'] = tv_df['listed_in'].apply(family_kids)
tv_df['romance'] = tv_df['listed_in'].apply(romance)
tv_df['music'] = tv_df['listed_in'].apply(music)
tv_df['thriller'] = tv_df['listed_in'].apply(thriller)
tv_df['faith_spiritually'] = tv_df['listed_in'].apply(faith_spiritually)
tv_df['documentary'] = tv_df['listed_in'].apply(documentary)
tv_df['sci_fi_fantasy'] = tv_df['listed_in'].apply(sci_fi_fantasy)
tv_df['lgbtq'] = tv_df['listed_in'].apply(lgbtq)
tv_df['black_stories'] = tv_df['listed_in'].apply(black_stories)
tv_df['cooking_food'] = tv_df['listed_in'].apply(cooking_food)
tv_df['reality'] = tv_df['listed_in'].apply(reality)
tv_df['sports'] = tv_df['listed_in'].apply(sports)
tv_df['anime'] = tv_df['listed_in'].apply(anime)

In [ ]:
#reading in the movie files and adding them to one data frame together
amazon_movies = pd.read_csv("./AmazonMovies.csv")
hulu_movies = pd.read_csv('./Hulu_movies.csv')
netflix_movies = pd.read_csv('netflix_movies.csv')
disneyplus_movies = pd.read_csv('disneyplus_movies.csv')

In [ ]:
#removing unnamed column which seems to be reference to old index values for each value
amazon_movies = amazon_movies.drop(columns="Unnamed: 0")
hulu_movies = hulu_movies.drop(columns="Unnamed: 0")
netflix_movies = netflix_movies.drop(columns="Unnamed: 0")
disneyplus_movies = disneyplus_movies.drop(columns="Unnamed: 0")

In [ ]:
#renaming a column to be the same and dropping the old column to easily merge dataframes
hulu_movies['duration_minutes'] = hulu_movies['duration']
hulu_movies = hulu_movies.drop(columns='duration')
hulu_movies

In [ ]:
#joining all the movie dataframes together under one dataframe
movies_df = pd.concat([amazon_movies, hulu_movies,netflix_movies,disneyplus_movies], axis=0)

movies_df

In [ ]:
#applying categories to the movies dataframe for use in powerbi
movies_df.loc[:,'action'] = movies_df['listed_in'].apply(action)
movies_df.loc[:,'comedy'] = movies_df['listed_in'].apply(comedy)
movies_df.loc[:,'drama'] = movies_df['listed_in'].apply(drama)
movies_df.loc[:,'family_kids'] = movies_df['listed_in'].apply(family_kids)
movies_df.loc[:,'romance'] = movies_df['listed_in'].apply(romance)
movies_df.loc[:,'music'] = movies_df['listed_in'].apply(music)
movies_df.loc[:,'thriller'] = movies_df['listed_in'].apply(thriller)
movies_df.loc[:,'faith_spiritually'] = movies_df['listed_in'].apply(faith_spiritually)
movies_df.loc[:,'documentary'] = movies_df['listed_in'].apply(documentary)
movies_df.loc[:,'sci_fi_fantasy'] = movies_df['listed_in'].apply(sci_fi_fantasy)
movies_df.loc[:,'lgbtq'] = movies_df['listed_in'].apply(lgbtq)
movies_df.loc[:,'black_stories'] = movies_df['listed_in'].apply(black_stories)
movies_df.loc[:,'cooking_food'] = movies_df['listed_in'].apply(cooking_food)
movies_df.loc[:,'sports'] = movies_df['listed_in'].apply(sports)
movies_df.loc[:,'anime'] = movies_df['listed_in'].apply(anime)

In [ ]:
tv_df.to_csv('tv_shows.csv', index=False)
movies_df.to_csv('movies.csv', index=False)

In [ ]:
#visualizations

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#descriptive statistics
print(movies_df.groupby('streaming_platform')['release_year'].mean())
print(movies_df.groupby('streaming_platform')['release_year'].median())

In [ ]:

sns.scatterplot(data=movies_df, x='release_year', y = 'duration_minutes', hue = 'streaming_platform')

plt.xlabel('Release Year')
plt.ylabel('Duration in Minutes')
plt.title('Duration of Movies by Release Year')

plt.show()

In [ ]:
import statsmodels.api as sm

In [ ]:
x = movies_df['release_year']
y = movies_df['duration_minutes']
x = sm.add_constant(x)

# Fit the regression model
model = sm.OLS(y, x).fit()

In [ ]:
sns.lmplot(x='release_year',y= 'duration_minutes', data=movies_df, line_kws={'color': 'red'}, scatter_kws = {'alpha' : 0.1})
plt.xlabel('Release Year')
plt.ylabel('Duration in Minutes')
plt.title('Duration of Movies by Release Year')
plt.show()
model.summary()

In [ ]:
sns.lmplot(x='release_year',y= 'duration_minutes', data=movies_df, hue= 'streaming_platform',scatter_kws = {'alpha' : 0.1})
plt.xlabel('Release Year')
plt.ylabel('Duration in Minutes')
plt.title('Duration of Movies by Release Year')
plt.show()

In [ ]:
sns.scatterplot(data=tv_df, x='release_year', y = 'duration_seasons', hue = 'streaming_platform')

plt.xlabel('Release Year')
plt.ylabel('Duration in Seasons')
plt.title('Duration of TV Shows by Release Year')

plt.show()

In [ ]:
sns.lmplot(x='release_year',y= 'duration_seasons', data=tv_df, scatter_kws = {'alpha' : 0.2})
plt.xlabel('Release Year')
plt.ylabel('Duration in Seasons')
plt.title('Duration of TV Shows by Release Year')
plt.show()

In [ ]:
sns.lmplot(x='release_year',y= 'duration_seasons', data=tv_df, scatter_kws = {'alpha' : 0.2}, hue = 'streaming_platform')
plt.xlabel('Release Year')
plt.ylabel('Duration in Seasons')
plt.title('Duration of TV Shows by Release Year')
plt.show()