## 1. Ingest and Access Data

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('netflix_titles.csv')

Getting a basic overview of data

In [2]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s3536,Movie,American Factory: A Conversation with the Obamas,NaN,"President Barack Obama, Michelle Obama, Julia ...",United States,"September 5, 2019",2019,TV-G,10 min,Documentaries,Barack and Michelle Obama talk with directors ...
1,s55,Movie,InuYasha the Movie: Affections Touching Across...,Toshiya Shinohara,"Kappei Yamaguchi, Satsuki Yukino, Koji Tsujita...",Japan,"September 15, 2021",2001,TV-PG,100 min,"Action & Adventure, Anime Features, Internatio...",A powerful demon has been sealed away for 200 ...
2,s141,Movie,"El patrón, radiografía de un crimen",Sebastián Schindel,"Joaquín Furriel, Luis Ziembrowski, Guillermo P...","Argentina, Venezuela","September 1, 2021",2014,TV-MA,100 min,"Dramas, International Movies, Thrillers",A lawyer defends an illiterate man whose explo...
3,s301,Movie,Vivo,"Kirk DeMicco, Brandon Jeffords","Lin-Manuel Miranda, Ynairaly Simo, Zoe Saldana...","Canada, United States","August 6, 2021",2021,PG,100 min,"Children & Family Movies, Music & Musicals",A music-loving kinkajou embarks on the journey...
4,s456,Movie,Emicida: AmarElo - Live in São Paulo,Fred Ouro Preto,Emicida,NaN,"July 15, 2021",2021,TV-MA,100 min,"Documentaries, International Movies, Music & M...",Brazilian rapper Emicida brings his progressiv...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8800 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [4]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

Checking for nulls and duplicate values

In [5]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [6]:
df.duplicated().sum()

0

## 2. Clean DataEstablishing another dataframe to work from.

In [7]:
# Dropping the columns which are not useful for analysis and due to large volume of missing data
df_clean = df.drop(['director','cast', 'country','description','show_id'], axis=1)
df_clean.head()

,type,title,date_added,release_year,rating,duration,listed_in
0,Movie,American Factory: A Conversation with the Obamas,"September 5, 2019",2019,TV-G,10 min,Documentaries
1,Movie,InuYasha the Movie: Affections Touching Across...,"September 15, 2021",2001,TV-PG,100 min,"Action & Adventure, Anime Features, Internatio..."
2,Movie,"El patrón, radiografía de un crimen","September 1, 2021",2014,TV-MA,100 min,"Dramas, International Movies, Thrillers"
3,Movie,Vivo,"August 6, 2021",2021,PG,100 min,"Children & Family Movies, Music & Musicals"
4,Movie,Emicida: AmarElo - Live in São Paulo,"July 15, 2021",2021,TV-MA,100 min,"Documentaries, International Movies, Music & M..."

Adding a new 'streaming_platform' column which will be useful when we merge the data for visualization purposes

In [8]:
df_clean.insert(7, 'streaming_platform', 'Netflix', allow_duplicates = True)
df_clean.head()

,type,title,date_added,release_year,rating,duration,listed_in,streaming_platform
0,Movie,American Factory: A Conversation with the Obamas,"September 5, 2019",2019,TV-G,10 min,Documentaries,Netflix
1,Movie,InuYasha the Movie: Affections Touching Across...,"September 15, 2021",2001,TV-PG,100 min,"Action & Adventure, Anime Features, Internatio...",Netflix
2,Movie,"El patrón, radiografía de un crimen","September 1, 2021",2014,TV-MA,100 min,"Dramas, International Movies, Thrillers",Netflix
3,Movie,Vivo,"August 6, 2021",2021,PG,100 min,"Children & Family Movies, Music & Musicals",Netflix
4,Movie,Emicida: AmarElo - Live in São Paulo,"July 15, 2021",2021,TV-MA,100 min,"Documentaries, International Movies, Music & M...",Netflix

In [9]:
#checking for null values 
df_clean.isna().sum()

type                   0
title                  0
date_added            10
release_year           0
rating                 7
duration               0
listed_in              0
streaming_platform     0
dtype: int64

## Separating into 2 dataframes for movies and TV_shows

In [10]:
#Dataframe 1 - Separating the movies type into a new dataframe
netflix_movies = df_clean.loc[df_clean['type']== 'Movie']
netflix_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6131 entries, 0 to 6130
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                6131 non-null   object
 1   title               6131 non-null   object
 2   date_added          6131 non-null   object
 3   release_year        6131 non-null   int64
 4   rating              6126 non-null   object
 5   duration            6131 non-null   object
 6   listed_in           6131 non-null   object
 7   streaming_platform  6131 non-null   object
dtypes: int64(1), object(7)
memory usage: 431.1+ KB

In [11]:
#checking for null values 
netflix_movies.isna().sum()

type                  0
title                 0
date_added            0
release_year          0
rating                5
duration              0
listed_in             0
streaming_platform    0
dtype: int64

In [12]:
netflix_movies['rating'].value_counts()

rating
TV-MA       2062
TV-14       1427
R            797
TV-PG        540
PG-13        490
PG           287
TV-Y7        139
TV-Y         131
TV-G         126
NR            75
G             41
TV-Y7-FV       5
UR             3
NC-17          3
Name: count, dtype: int64

In [13]:
#Dropping the null values
netflix_movies = netflix_movies.dropna(axis = 0) #dropping the na row

In [14]:
#Final check for missing values - looks like data is clean
netflix_movies.isna().sum()

type                  0
title                 0
date_added            0
release_year          0
rating                0
duration              0
listed_in             0
streaming_platform    0
dtype: int64

In [15]:
netflix_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6126 entries, 0 to 6127
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                6126 non-null   object
 1   title               6126 non-null   object
 2   date_added          6126 non-null   object
 3   release_year        6126 non-null   int64
 4   rating              6126 non-null   object
 5   duration            6126 non-null   object
 6   listed_in           6126 non-null   object
 7   streaming_platform  6126 non-null   object
dtypes: int64(1), object(7)
memory usage: 430.7+ KB

In [16]:
# Dataframe 2 - Separating the TV Show type into a new dataframe
netflix_tv = df_clean.loc[df_clean['type']== 'TV Show']
netflix_tv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2676 entries, 6131 to 8806
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                2676 non-null   object
 1   title               2676 non-null   object
 2   date_added          2666 non-null   object
 3   release_year        2676 non-null   int64
 4   rating              2674 non-null   object
 5   duration            2676 non-null   object
 6   listed_in           2676 non-null   object
 7   streaming_platform  2676 non-null   object
dtypes: int64(1), object(7)
memory usage: 188.2+ KB

In [17]:
#Checking for null values
netflix_tv.isna().sum()

type                   0
title                  0
date_added            10
release_year           0
rating                 2
duration               0
listed_in              0
streaming_platform     0
dtype: int64

In [18]:
netflix_tv['date_added'].value_counts()

date_added
July 6, 2021        31
January 1, 2016     23
August 1, 2017      22
June 19, 2021       21
July 1, 2017        19
                    ..
June 25, 2018        1
June 26, 2018        1
July 8, 2018         1
July 18, 2018        1
 January 1, 2016     1
Name: count, Length: 1051, dtype: int64

Imputing the date_added with mode strategy

In [19]:
from sklearn.impute import SimpleImputer # import the SimpleImputer class
cat_imputer = SimpleImputer(strategy='most_frequent') 
netflix_tv.loc[:,'date_added'] = cat_imputer.fit_transform(netflix_tv['date_added'].values.reshape(-1, 1)).ravel()

In [20]:
netflix_tv.isna().sum()

type                  0
title                 0
date_added            0
release_year          0
rating                2
duration              0
listed_in             0
streaming_platform    0
dtype: int64

In [21]:
#dropping the null values rows in rating
netflix_tv = netflix_tv.dropna(axis = 0)

In [22]:
#Final check for missing values - looks like data is clean
netflix_tv.isna().sum()

type                  0
title                 0
date_added            0
release_year          0
rating                0
duration              0
listed_in             0
streaming_platform    0
dtype: int64

In [23]:
netflix_tv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2674 entries, 6131 to 8806
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                2674 non-null   object
 1   title               2674 non-null   object
 2   date_added          2674 non-null   object
 3   release_year        2674 non-null   int64
 4   rating              2674 non-null   object
 5   duration            2674 non-null   object
 6   listed_in           2674 non-null   object
 7   streaming_platform  2674 non-null   object
dtypes: int64(1), object(7)
memory usage: 188.0+ KB

## Data StructureWe are aiming to slice the duration column to get the duration values in mins or seasons (as an integer) in movies and TV shows dataframe and add that to a new_column for analysis purposes

In [24]:
#split duration columns
def slice_min(min):
    return int(min[:-4])
netflix_movies['duration_minutes'] = netflix_movies['duration'].apply(slice_min)

In [25]:
netflix_movies = netflix_movies.drop('duration', axis = 1)

In [26]:
netflix_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6126 entries, 0 to 6127
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                6126 non-null   object
 1   title               6126 non-null   object
 2   date_added          6126 non-null   object
 3   release_year        6126 non-null   int64
 4   rating              6126 non-null   object
 5   listed_in           6126 non-null   object
 6   streaming_platform  6126 non-null   object
 7   duration_minutes    6126 non-null   int64
dtypes: int64(2), object(6)
memory usage: 430.7+ KB

## Checking for Erroneous Values

In [27]:
print(netflix_movies['type'].value_counts())
print(netflix_movies['title'].value_counts())
print(netflix_movies['date_added'].value_counts())
print(netflix_movies['release_year'].value_counts())
print(netflix_movies['rating'].value_counts())
print(netflix_movies['listed_in'].value_counts())
print(netflix_movies['streaming_platform'].value_counts())
print(netflix_movies['duration_minutes'].value_counts())

type
Movie    6126
Name: count, dtype: int64
title
22-Jul                                              2
15-Aug                                              2
American Factory: A Conversation with the Obamas    1
Thiago Ventura: POKAS                               1
Echo in the Canyon                                  1
                                                   ..
Hold the Dark                                       1
Zindagi Kitni Haseen Hay                            1
Dovlatov                                            1
Gun City                                            1
VS.                                                 1
Name: count, Length: 6124, dtype: int64
date_added
January 1, 2020      97
November 1, 2019     75
March 1, 2018        72
December 31, 2019    67
October 1, 2018      64
                     ..
April 15, 2014        1
March 8, 2018         1
December 17, 2015     1
December 18, 2014     1
April 14, 2018        1
Name: count, Length: 1531, dtype: int64
release_year
2018    767
2017    765
2016    658
2019    633
2020    517
       ...
1966      1
1961      1
1963      1
1947      1
1946      1
Name: count, Length: 73, dtype: int64
rating
TV-MA       2062
TV-14       1427
R            797
TV-PG        540
PG-13        490
PG           287
TV-Y7        139
TV-Y         131
TV-G         126
NR            75
G             41
TV-Y7-FV       5
UR             3
NC-17          3
Name: count, dtype: int64
listed_in
Dramas, International Movies                                        362
Documentaries                                                       359
Stand-Up Comedy                                                     334
Comedies, Dramas, International Movies                              274
Dramas, Independent Movies, International Movies                    252
                                                                   ...
Comedies, LGBTQ Movies, Music & Musicals                              1
Classic Movies, Thrillers                                             1
Dramas, Faith & Spirituality, Independent Movies                      1
Action & Adventure, Sci-Fi & Fantasy, Sports Movies                   1
Action & Adventure, Children & Family Movies, Independent Movies      1
Name: count, Length: 278, dtype: int64
streaming_platform
Netflix    6126
Name: count, dtype: int64
duration_minutes
90     152
93     146
94     146
97     146
91     144
      ...
253      1
273      1
3        1
312      1
196      1
Name: count, Length: 205, dtype: int64

In [28]:
#Replacing UR and NR rating as they are both mean the same type of rating
netflix_movies = netflix_movies.replace('UR', 'NR')

In [29]:
print(netflix_movies['rating'].value_counts())

rating
TV-MA       2062
TV-14       1427
R            797
TV-PG        540
PG-13        490
PG           287
TV-Y7        139
TV-Y         131
TV-G         126
NR            78
G             41
TV-Y7-FV       5
NC-17          3
Name: count, dtype: int64

## Data StructureWe are aiming to slice the duration column to get the duration values in mins or seasons (as an integer) in movies and TV shows dataframe and add that to a new_column for analysis purposes

In [30]:
def slice_season(season):
    if len(season) <= 8:
        return (int(season[:-7]))
    else:
        return (int(season[:-8]))
netflix_tv['duration_seasons'] = netflix_tv['duration'].apply(slice_season)

In [31]:
netflix_tv = netflix_tv.drop('duration', axis = 1)

In [32]:
netflix_tv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2674 entries, 6131 to 8806
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   type                2674 non-null   object
 1   title               2674 non-null   object
 2   date_added          2674 non-null   object
 3   release_year        2674 non-null   int64
 4   rating              2674 non-null   object
 5   listed_in           2674 non-null   object
 6   streaming_platform  2674 non-null   object
 7   duration_seasons    2674 non-null   int64
dtypes: int64(2), object(6)
memory usage: 188.0+ KB

# Checking for Erroneous Values

In [33]:
print(netflix_tv['type'].value_counts())
print(netflix_tv['title'].value_counts())
print(netflix_tv['date_added'].value_counts())
print(netflix_tv['release_year'].value_counts())
print(netflix_tv['rating'].value_counts())
print(netflix_tv['listed_in'].value_counts())
print(netflix_tv['streaming_platform'].value_counts())
print(netflix_tv['duration_seasons'].value_counts())

type
TV Show    2674
Name: count, dtype: int64
title
Feb-09                       2
Ganglands                    1
World's Busiest Cities       1
What Happens to My Family    1
What Is Love?                1
                            ..
What If?                     1
Crime Diaries: Night Out     1
Flinch                       1
Tuca & Bertie                1
The Office (U.S.)            1
Name: count, Length: 2673, dtype: int64
date_added
July 6, 2021        41
January 1, 2016     23
August 1, 2017      22
June 19, 2021       21
July 1, 2017        19
                    ..
June 25, 2018        1
June 26, 2018        1
July 8, 2018         1
July 18, 2018        1
 January 1, 2016     1
Name: count, Length: 1051, dtype: int64
release_year
2020    436
2019    397
2018    380
2021    315
2017    265
2016    244
2015    161
2014     88
2012     64
2013     62
2010     40
2011     40
2009     34
2008     23
2007     14
2006     14
2005     13
2003     10
2004      9
1999      7
2002      7
2001      5
1997      4
1998      4
2000      4
1993      4
1992      3
1996      3
1990      3
1994      2
1986      2
1995      2
1988      2
1979      1
1991      1
1981      1
1946      1
1972      1
1985      1
1925      1
1989      1
1945      1
1977      1
1974      1
1963      1
1967      1
Name: count, dtype: int64
rating
TV-MA       1145
TV-14        733
TV-PG        323
TV-Y7        195
TV-Y         176
TV-G          94
NR             5
R              2
TV-Y7-FV       1
Name: count, dtype: int64
listed_in
Kids' TV                                                       220
International TV Shows, TV Dramas                              121
Crime TV Shows, International TV Shows, TV Dramas              110
Kids' TV, TV Comedies                                           98
Reality TV                                                      95
                                                              ...
Reality TV, Science & Nature TV, TV Action & Adventure           1
British TV Shows, Docuseries, TV Comedies                        1
TV Comedies, TV Mysteries                                        1
Crime TV Shows, International TV Shows, TV Sci-Fi & Fantasy      1
Crime TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy       1
Name: count, Length: 236, dtype: int64
streaming_platform
Netflix    2674
Name: count, dtype: int64
duration_seasons
1     1791
2      425
3      199
4       95
5       65
6       33
7       23
8       17
9        9
10       7
13       3
11       2
12       2
15       2
17       1
Name: count, dtype: int64

## Export to .csv and complete in another program

In [34]:
tv_df = netflix_tv.to_csv('netflix_tv.csv', index =False)
movies_df = netflix_movies.to_csv('netflix_movies.csv', index = False)